body {
    background: white;
    padding: 0px;
    margin: 0px;
}

.container1 {
  height: 80px;
  width: 320px;
  
  background: blue;
  
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: blue;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
  color: white;
}

/* Style navigation menu links */
.topnav a {
  color: lightgreen;
  padding: 14px 16px;
  margin-top: 10px;
  margin-right: 7px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: white;
  display: block;
  border-radius: 7px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: darkblue;
  color: white;
}

/* Style the active link (or home/logo) */
.active {
  background-color: blue;
  color: blue;
}

.container3 {
  width: 320px;
  background-color: blue;
  height: 350px;
}

.blogo {
  width: 200px;
  margin-left: 80px;
  bottom: 30px;
  position: relative;
}



h1 {
  color: white;
  position: relative;
  font-family: stylish;
  bottom: 80px;
  text-align: center;
  font-size: 36px;
}

.start {
  color: white;
  bottom: 90px;
  position: relative;
  text-align: center;
  font-family: stylish;
  font-size: 20px;
}

.wave {
  bottom: 150px;
  position: relative;
  width: 320px;
  height: 250px;
}

.container4 {
  width: 230px;
  height: 550px;
  margin-left: 45px;
border-radius: 50px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  25px 25px 98px #9f9f9f,
             -25px -25px 98px #ffffff;
  
  
}

.b {
  width: 100px;
  margin-left: 60px;
}


.me {
  font-family: stylish;
  position: relative;
  bottom: 50px;
  font-size: 25px;
  color: blue;
  text-align: center;
}

.red {
  background-color: white;
  color: blue;
  padding: 14px 25px;
  font-size: 20px;
  text-align: center; 
  border-radius: 7px;
  font-family: stylish;
  position: relative;
  bottom: 80px;
  margin-left: 50px;
  text-decoration: none;
  display: inline-block;
}

.red:hover, a:active {
  color: white;
  background-color: blue;
}

h2 {
  color: blue;
  font-size: 35px;
  font-family: stylish;
}

.container5 {
  width: 260px;
transition: transform .2s; /* Animation */
  height: 130px;
margin-left: 20px;
border-radius: 20px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  25px 25px 98px #9f9f9f,
             -25px -25px 98px #ffffff;
  
}

.container5:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

    .html {
      margin-right: 10px;
      width: 130px;
      height: 130px;
    }
    
    .htmltext {
      color: blue;
      font-size: 30px;
      position: relative;
      bottom: 120px;
      margin-right: 50px;
      font-family: stylish;
      float: right;
    }
    
   .css {
      margin-right: 10px;
      width: 130px;
      position: relative;
      bottom: 80px;
      height: 130px;
    }
    
    .csstext {
      color: blue;
      font-size: 30px;
      position: relative;
      bottom: 60px;
      margin-right: 50px;
      font-family: stylish;
      float: right;
    }
    
    .js {
     margin-right: 10px;
      width: 130px;
      position: relative;
      bottom: 5px;
      height: 130px;
    }
    
    .jstext{
color: blue;
      font-size: 25px;
      position: relative;
      bottom: 110px;
      margin-left: 10px;
      font-family: stylish;
      float: right;
  
    }
    
h3 {
  font-family: stylish;
  font-size: 30px;
  color: blue;
}

.port1 {
  width: 250px;
  height: 190px;
  margin-left: 30px;
}

.port1:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.port2 {
  width: 250px;
  height: 150px;
  margin-left: 30px;
}

.port2:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.port3 {
  width: 250px;
  height: 190px;
  margin-left: 30px;
}

.port3:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

.port4 {
  width: 250px;
  height: 190px;
  margin-left: 30px;
}

.port4:hover {
transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}

h4 {
  font-family: stylish;
  font-size: 30px;
  color: blue;
}

h5 {
  font-family: stylish;
  margin-left: 35px;
  position: relative;
  bottom: 20px;
  font-size: 26px;
  color: blue;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.leave {
  font-family: stylish;
  font-size: 20px;
  bottom: 30px;
  position: relative;
  color: blue;
}

.facebook {
  color: blue;
  text-decoration: none;
  position: relative;
  text-align: center;
  margin-left: 5px;
  bottom: 50px;
  font-size: 35px;
  font-family: stylish;
}

.linkedin {
  color: lightblue;
  text-decoration: none;
  position: relative;
  text-align: center;
  margin-left: 5px;
  bottom: 50px;
  font-size: 35px;
  font-family: stylish;
}

.whatsapp {
  color: green;
  text-decoration: none;
  position: relative;
  text-align: center;
  margin-left: 5px;
  bottom: 50px;
  font-size: 35px;
  font-family: stylish;
}

.end {
  color: blue;
  font-size: 15px;
  font-family: stylish;
  margin-left: 15px;
}